.alarm-setter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
}

.input-group button {
  width: 80px;
  height: 50px;
  font-size: 2rem;
  padding: 2px 0;
  margin: 2px 0;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.input-group button:hover {
  opacity: 0.8;
}

.input-group input {
  font-size: 2rem;
  width: 80px;
  text-align: center;
  padding: 5px;
  background-color: #3c4049;
  color: white;
  border: 1px solid #555;
  border-radius: 5px;
}

.alarm-setter button {
  font-size: 1.5rem;
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.alarm-setter button:hover {
  opacity: 0.8;
}
