.alarm-list {
  width: 50%;
  margin-top: 15px;
}

.alarm-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.alarm-list li {
  background-color: #444;
  margin: 5px auto;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.alarm-list button {
  font-size: 1rem;
  padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.alarm-list button:hover {
  opacity: 0.8;
}
