.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* 上から配置 */
  padding-top: 50px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.timer-display {
  font-size: 15rem; /* タイマーの文字を大きく */
  font-weight: bold;
  margin: 20px 0;
  font-family: "Courier New", Courier, monospace;
}

.controls button,
.actionButton {
  font-size: 1.5rem;
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.controls button:hover,
.actionButton:hover {
  opacity: 0.8;
}
